{% for interface in interfaces|default() %}
      {{ interface.name }}:
        link:
          state:
            up: {}
{# CURRENTLY NOT SUPPORTED ON VX BREACKOUT PORTS 
{% if qos.pfc_wd is defined %}            
        qos:
          pfc-watchdog:
            state: enable
{%  endif %}
#}
        type: swp
{% if adaptive_routing is defined %}
{% if interface.ar is true %}
        router:
          adaptive-routing:
            enable: on
{% if adaptive_routing.link_util_threshold is defined %}
            link-utilization-threshold: {{ adaptive_routing.link_util_threshold }}
{%  endif %}
{%  endif %}
{%-  endif %}
{% if interface.ip is defined %}
        ip:
          address:
            {{ interface.ip }}: {}
{%  endif %}
{% if interface.vrf is defined %}
          vrf: {{ interface.vrf }}
{%  endif %}
{%-   endfor %}
