{% for interface in interfaces|default() %}
{% if interface.vrr is defined %}
        ip:
          address:
            {{ interface.ip }}: {}
          vrr:
            address:
              {{ interface.vrrip }}: {}
            mac-address: {{ interface.vrrmac }}
            enable: on
            state:
              up: {}
        type: svi
        vlan: {{ vlan }}
{% else %}
      {{ interface.name }}:
        link:
          state:
            up: {}
        bridge:
          domain:
            br_default:
              access: {{vlan}}
        type: swp
{% if adaptive_routing is defined %}
{% if interface.ar is true %}
        router:
          adaptive-routing:
            enable: on
{% if adaptive_routing.link_util_threshold is defined %}
            link-utilization-threshold: {{ adaptive_routing.link_util_threshold }}
{%  endif %}
{%  endif %}
{%-  endif %}
{% if interface.ip is defined %}
        ip:
          address:
            {{ interface.ip }}: {}
{% if interface.vrf is defined %}
          vrf: {{ interface.vrf }}
{%  endif %}
{%  endif %}
{%  endif %}
{%-   endfor %}
